* {
    margin: 0px;
    padding: 0px;
    font-family: "Varela Round", sans-serif;
}
h2{
    position: absolute;
    left: 30%;
    top: 19%;
    z-index: 2;
    color: white;
    font: bold 35pt Arial;

}
h3{
    z-index: 2;
    position: absolute;
    top: 28%;
    left: 30%;
    color: white;
    font: bolder 25pt Arial;

}
#opcoesdownload{
        z-index: 2;
        position: absolute;
        color: white;
        left: 30%;
        top: 35%;
        display:flex;
        gap: 10px;
}
#opcoesdownload p{
    background-color: #49106E;
    padding: 10px;
    font:bolder 30pt Arial;
}
header {
    position: relative;
    z-index: 2;
    background-color: black;
    height: 80px;
    width: 100%;
    text-align: center;
    padding: 0px 0px 0px 0px;

}


img {
    border: 3px solid black;
    /* Ajuste a largura, estilo e cor da borda conforme necessário */
}
#sla {
    color: #8960D7;
    padding-top: 15px;
}
#menu {

    display: none;
    /* Oculta o menu inicialmente */
    position: absolute;
    left: 0px;
    margin: 0px;
    background-color: #8A0CFF;
    color: cyan;
    margin-top: 80px;
    height: 100px;
    width: 300px;
}
#menu-button {
    margin-left: 30px;
    position: absolute;
    height: 80px;
    width: 70px;
    left: 0px;
    background-color: black;
    color: cyan;
    border: 0px;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
}

#menu.open {
    display: block;
    /* Exibe o menu quando a classe "open" é adicionada */
}
#botao-categorias {
    background-color: #20055300;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
    border: 0px;
    cursor: pointer;
}
#categorias-lista {

    list-style: none;
    height: 400px;
    background-color: #8A0CFF;
    padding: 0;
    color: white;
}

#categorias-lista.hidden {
    display: none;
}

#categorias-lista li {
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

#suporteMenu {
    background-color: #8a0cff00;
    border: 0px;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
    color: black;
    cursor: pointer;
}

#jogos_em_alta {
    margin: auto;
    margin-top: 70px;
    padding-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: black;
}

#jogos {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 20px;
    height: auto;
    padding-bottom: 0px;
    /*align-items: center; isso aqui deixa os treco no meio verticamlmente*/
    justify-content: space-around;
    flex-shrink: 1;
    overflow-x: auto;
    scroll-behavior: smooth;


}


#jogos2 {
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    /*align-items: center;pa isso aqui deixa os treco no meio verticamlmente*/
    justify-content: space-around;
    flex-shrink: 1;
    overflow-x: auto;
    scroll-behavior: smooth;

}




#imagem-especificacao_jogos {
    height: 300px;
    margin-top: 80px;
    margin-left: 50px;
}

#corpo {
    background-color: #20055300;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    margin: auto;
    width: 1000px;
}

#novidades {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: black;
    overflow-x: auto;
    scroll-behavior: smooth;
}


#img-novidades {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    overflow-x: auto;

}

#aclamadospelacritica {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 10px;
    text-align: center;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: black;
}

#suporte {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

#img-suporte {
    width: 80px;
    height: 40px;
}

#jogos_aclamadospelacritica {
    margin-top: 25px;
    padding-bottom: 50px;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    /*align-items: center;pa isso aqui deixa os treco no meio verticamlmente*/
    justify-content: space-around;
    flex-shrink: 1;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#ver_maisp {
    border: 3px solid black;
    background-color: #8A0CFF;
    height: 15px;
    width: 150px;
    padding: 10px 0px;
    margin-top: 15px;
    text-align: center;
    font-weight: bolder;
    color: white;
}

.ver_mais {
    display: flex;
    justify-content: end;
}

.conteiner #BarradePesquisa::placeholder {
    color: wheat;
    font-size: 15px;
    font-style: italic;
    padding: 5px;
}

input:focus {
    color: white;
}

#BarradePesquisa {
    background-color: #7909E2;
    width: 13%;
    height: 50%;
    outline: none;
    resize: none;
    position: absolute;
    left: 85%;
    top: 25%;
    display: flex;
}

.circulo {
    width: 3.5%;
    height: 68%;
    background-color: #7909E2;
    border-radius: 40%;
    position: absolute;
    right: 1.2%;
    top:20%;

}

.imagemsemborda {
    border: none;
}

.Fundoimagem{
height: 50vh;
/* ADICIONE AQUI A IMAGEM QUE DEVE APARECER NO FUNDO */
background-image: url(https://c4.wallpaperflare.com/wallpaper/488/720/833/dark-souls-iii-video-games-castle-cathedral-wallpaper-preview.jpg);
background-size: cover;
width:100%;
height:1100px;
background-position: center;
z-index: 1;
}
/* FILTRO ROXO */
.Fundoimagem::before {
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(95, 41, 196, 0.5); 
    z-index:1; 
    height:187vh;
}
/* BLOCO INFERIOR ROXO DE INFORMAÇÔES */
.roxo{ 
    height:100vh;
    background: linear-gradient(to bottom, #5121ac, #5f29c4); 
}  
#capa{
    z-index:2;
    position:absolute;
    top: 18%;
    left: 3%;
}
.BlocoLateral{
    z-index: 2;
    position: absolute;
    right:1%;
    top: 45%;
    color: red;
    background-color:#5E0FB2;
    width: 400px;
    height: 900px;
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.BlocoLateral .Pergunta{
    color: black;
    padding: 5px;
    font: bold 14pt Arial;
}
.BlocoLateral .Resposta{
    color: white;
    padding: 5px;
}
.Grupo{
    display: flex;
    padding: 5px;
}

.OpcoesGenero{
    display:flex;
    gap: 10px;
    color: white;
    font: bolder 12pt Arial;
    padding: 10px;
}
.OpcoesGenero p{
    background-color:#A900F1;
    padding: 10px;
}
.Plataformas{
    background-color:#621AA1;
    padding: 3.5%;
}
.Idioma{
    background-color:#621AA1;
    width: 380px;
    padding: 10px;
    font: normal 16pt Arial;
    color: white;
}
.LINHA{
    background-color: #A416F6;
    width: 90%;
    height: 0.1%;
    position: absolute;
    top: 45.8v;
}
td{
    text-align: center;
}
.Sobre h1{
    margin-left: 5%;
    font: bold 30pt Arial;
    z-index: 2;
    position: absolute;
    top: 125%
}
#Sobretext{
    border: none;
    z-index: 2;
    position: absolute;
    background-color: transparent;
    font: normal 20pt Arial;
    resize: none;
    width: 70%;
    height: 60%;
    color: white;
    top: 133%;
    left: 5%;
}
.Requisitos h1{
    margin-left: 5%;
    font: bold 30pt Arial;
    z-index: 2;
    position: absolute;
    top: 155%;
    color: white;
    width: 67%;
    height: 10%;
    padding: 1%;
    background-color: #621AA1;
}
.RequisitosTabela{
    background-color: #621AA1;
    z-index: 2;
    position: absolute;
    top: 163%;
    left: 0%;
    width: 69%;
    margin-left: 5%;
}
.RequisitosTabela th{
    color: white;
    font: normal 20pt Arial;
    padding-bottom: 1%;
}
.RequisitosTabela p{
display: contents;
}
.RequisitosTabela td{
    padding: 0.8%;
}
.Preto{
color: black;
font: bolder 14pt Arial;
}
.Branco{
    color: white;
    font: normal 14pt Arial;
}