* {
  margin: 0px;
  padding: 0px;
  font-family: "Varela Round", sans-serif;
}

body {
  background-image: linear-gradient(to right, #200553, #7536eb);
}

header {
  background-color: black;
  height: 80px;
  width: 100%;
  text-align: center;
  padding: 0px 0px 0px 0px;
}

img {
  border: 3px solid black; /* Ajuste a largura, estilo e cor da borda conforme necessário */
}

#cima {
  background-color: black;
  height: 80px;
  width: 100%;
  text-align: center;
  padding: 0px;
}

#sla {
  color: #8960d7;
  padding-top: 15px;
  padding-right: 40px;
}

#menuimg {
  margin-top: 25px;
  border: 5px;
  height: 30px;
  width: 40px;
  float: left;
}

#menu {
  display: none;
  /* Oculta o menu inicialmente */
  position: absolute;
  margin: 0px;
  background-color: #8a0cff;
  color: cyan;
  margin-top: 80px;
  height: 70px;
  width: 300px;
}

#menu-button {
  cursor: pointer;
  margin-left: 40px;
  position: absolute;
  height: 80px;
  width: 70px;
  left: 0px;
  background-color: black;
  color: cyan;
  border: 0px;
  font-weight: 800;
  font-size: large;
}

#menu.open {
  display: block;
  /* Exibe o menu quando a classe "open" é adicionada */
}

#botao-categorias {
  background-color: #20055300;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bolder;
  margin-top: 10px;
  border: 0px;
  cursor: pointer;
}

#categorias-lista {
  list-style: none;
  height: 360px;
  background-color: #8a0cff;
  padding: 0;
  color: white;
}

#categorias-lista.hidden {
  display: none;
}

#categorias-lista li {
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

#suporteMenu {
  background-color: #8a0cff00;
  border: 0px;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 10px;
  color: black;
  cursor: pointer;
}

#corpo {
  background-color: #20055300;
  width: 100%;
  min-width: 300px;
  max-width: 100%;
  margin: auto;
  width: 1000px;
}

#suporte {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

#img-suporte {
  width: 80px;
  height: 40px;
}

#Nome {
  position: flex;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-bottom: 10px;
  height: 50px;
}

#Nome h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial;
  font-weight: bold;
  font-size: 40px;
  color: rgb(255, 255, 255);
}

#caixa {
  display: flex;
  background: rgba(0, 0, 0, 0.226);
  width: 1000px;
  height: 520px;
  margin: 10pt;
}

#seletor {
  margin-top: 2pt;
  margin-left: 2pt;
  width: 360px;
  text-align: center;
}

#infoproblema,
#problema {
  display: flex;
}

#infoproblema {
  margin: 10pt;
  justify-content: start;
}

#problema {
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 270px;
  min-width: 950px;
  margin: 10pt;
  margin-top: 10pt;
  margin-bottom: 10pt;
  justify-content: start;
}

option {
  font-size: 15px;
  font-weight: bold;
}

span {
  color: white;
  padding-top: 5pt;
}

form {
  padding-top: 10pt;
}

label {
  padding: 10pt;
  color: white;
}

#botao{
  padding-left: 10pt;
  padding-top: 5pt;
  height: 35px;
  width: 125px;
  border-left: 10pt solid #240b55;
}

#butaoEnviar {
  padding: 3pt;
  width: 75px;
}

#anexar-arquivo{
  padding-left: 10pt;
  padding-top: 5pt;
  background-color: #240b55;
  height: 35px;
  width: 125px;
  border-left: 10pt solid #240b55;
}

#botao-arquivo {
  padding: 3pt;
  width: 110px;
}